body{
    max-width: 1200px;
    margin: auto;
}

#wrapper{
}

.itemLink{
    width: 400px;
    height: 320px;
    background-color: rgb(240,240,240);
    display: block;
    float: left;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.itemLink img{
    max-width: 400px;
}

.area{
    display: inline-block;
    margin:5px;
}